
.App {
    text-align: center;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #800020;
  }
  
  /* Estilos para botones */
  button {
    background-color: #800020; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #87CEEB; 
    color: #800020; 
  }
  
  a {
    color: #800020;
    text-decoration: none;
  }
  
  a:hover {
    color: #87CEEB; 
  }
  
  .container {
    padding: 20px;
  }
  
  .badge {
    background-color: #87CEEB; 
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 0.8rem;
  }
  